<div class="container contact-block mt-2">
     <div style="text-align: left;" class="post-category mt-2">
          <span class="post-category-item">
               <a href="#">
                    Thông tin liên hệ
               </a>
          </span>

          <p class="crossbar mt-2"></p>
     </div>
     <div class="row mt-5">

          <div class="contact-info col-sm-12 col-md-12 col-xl-6 col-lg-6 mb-6">
               <h1>{{fullName}}</h1>
               <p>Điện thoại: {{phoneNumber}}</p>
               <p>Email: {{email}}</p>
               <p>Website: leminhduc.vn</p>
               <p>Địa chỉ: {{address}}</p>
          </div>
          <div class="contact-map col-sm-12 col-md-12 col-xl-6 col-lg-6 mb-6">
               {{{map}}}
          </div>
     </div>
</div>